---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/blog/v1/0d61e4ca-e395-4c1c-8766-afaa48bf68db.json?access_token=demooooo-oooo-oooo-oooo-oooooooooooo&portalId=62515
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"blogTitle":"Test Blog (content from customers.hubspot.com)","feedUrl":"demo.hubapi.com/CMS/UI/Modules/BizBlogger/rss.aspx?moduleId=584130&tabId=300291","guid":"0d61e4ca-e395-4c1c-8766-afaa48bf68db","jsonUrl":"https://api.hubapi.com/blog/v1/0d61e4ca-e395-4c1c-8766-afaa48bf68db.json","moderated":false,"moderators":[],"portalId":62515,"webUrl":"demo.hubapi.com/blog-for-testing"}'
  recorded_at: Wed, 04 Apr 2012 23:33:05 GMT
- request:
    method: get
    uri: https://api.hubapi.com/blog/v1/0d61e4ca-e395-4c1c-8766-afaa48bf68db/posts.json?access_token=demooooo-oooo-oooo-oooo-oooooooooooo&max=2&portalId=62515
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"authorDisplayName":"testapi@hubspot.com","authorEmail":"testapi@hubspot.com","blogGuid":"0d61e4ca-e395-4c1c-8766-afaa48bf68db","body":"<b>This
        is the content of the blog post<\/b>","createTimestamp":1333483438000,"draft":true,"guid":"6ca6fdc5-a81f-44db-a63b-f56ab2636c69","jsonUrl":"https://api.hubapi.com/blog/v1/posts/6ca6fdc5-a81f-44db-a63b-f56ab2636c69.json","lastUpdateTimestamp":1333483438000,"metaDescription":"test
        metaDescription!","metaKeywords":"these are totally test keywords.","portalId":62515,"postAnalytics":null,"publishTimestamp":1333483438000,"sendNotifications":true,"summary":"This
        is a test summary","tags":["tag2","tag1"],"title":"I am a test post","url":"http://demo.hubapi.com/blog-for-testing/bid/103902/"},{"authorDisplayName":"testapi@hubspot.com","authorEmail":"testapi@hubspot.com","blogGuid":"0d61e4ca-e395-4c1c-8766-afaa48bf68db","body":"this
        is the content for testing hapihp","createTimestamp":1332176115000,"draft":true,"guid":"d34ed988-64eb-46c2-9eca-5f79d0bf4a9c","jsonUrl":"https://api.hubapi.com/blog/v1/posts/d34ed988-64eb-46c2-9eca-5f79d0bf4a9c.json","lastUpdateTimestamp":1332176115000,"metaDescription":"","metaKeywords":"","portalId":62515,"postAnalytics":null,"publishTimestamp":1332176115000,"sendNotifications":true,"summary":"testing
        hapihp summary","tags":["hapihp tag 2","hapihp tag 1"],"title":"find this
        one","url":"http://demo.hubapi.com/blog-for-testing/bid/103366/"}]'
  recorded_at: Wed, 04 Apr 2012 23:33:06 GMT
recorded_with: VCR 2.0.1
