---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/keywords/v1/keywords?hapikey=demo&portalId=62515
    body:
      encoding: US-ASCII
      string: ! '{"keyword":"sleutel"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; qs=3
    body:
      encoding: US-ASCII
      string: ! '{"keywords":[{"keyword":"sleutel","keyword_guid":"1a33db71-3371-45c3-9e43-42ee24288d15","created_at":1333614223140}]}'
  recorded_at: Thu, 05 Apr 2012 08:23:43 GMT
recorded_with: VCR 2.0.1
